#background-image {
  /* background-image: url(workDeskImage4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center; */
}

#project-text {
  background-position: absolute;
  top: 25%;
  left: 33%;
}