.row1-container {
    padding-top: 25px;
}

.row2-container {
    padding-top: 25px;
}

#image_container {
    
    padding-right: 400px;
}

#profile-image {
    /* border-radius: 5px; */
    border: solid white 10px;
}

h1 {
    color: rgb(92, 150, 77);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.profile-text {
    color: white;
}
