body {
    background-color: #36454F;
}

#projects-title {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#github-button {
    padding-left: 10px;
}
